
body
{ font:  Arial, Helvetica, sans-serif;
  background: transparent url(images/pattern.jpg) repeat;
  color: #000;
}

form{
	line-height: 25px;
}

label{
	display: inline-block;
	text-align:right;
	width: 250px;
}
input{
	display: inline-block;
	width: 250px;
}

input[type="submit"]{
	margin-left:258px; 
	
}

@media screen and (max-width: 768px){
	input[type="submit"]{
		margin:0;
	}
}